@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 71% 98%;
    /* Slate 50 equivelant HSL */
    --foreground: 222 47% 11%;
    /* Slate 900 */
  }

  body {
    @apply bg-background text-secondary-foreground font-sans antialiased;
  }
}

.glass-panel {
  @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl;

}

.premium-card {
  @apply bg-surface rounded-xl border border-slate-100 shadow-sm hover:shadow-md transition-all duration-300;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}